body {
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
	padding-left: 5%;
}

a {
    font-family: 'Lato', sans-serif;
    padding-left: 5%; 
    color: black;
    text-decoration:none 

}


.pagina{
	width: 1100px;
	margin: 0px auto;
}
.header {
	grid-area: header;
	background-image: url('../images/header_bg.png');
	padding-bottom: 1%;
}

.artical{
	grid-area: artical;
	color: white;
	background-image: url("../images/banner_bg.png");
	

}
.kopje1 {
	grid-area: eerste;

}
.kopje2 {
	grid-area: tweede;
}
.kopje3 {
	grid-area: derde;
}
.foto{
	float: left;
	padding: 3% 3% 3% 3%;

}
.footer{
	grid-area: footer;
	text-align: center;
	color: white;
	background-image: url('../images/footer_bg.png')

}



.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header'
	'artical artical artical'
	'black black black'
	'eerste tweede derde' 
	'footer footer footer';

